<%= turbo_stream_from current_user, "quotes" %>
<div class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= render "form", quote: Quote.new %>
  </div>
  <%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
  <% end %>
</div>
